
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPasswordInputFieldLabel" translate="acmeSiteApp.passwordInputField.home.createOrEditLabel">Create or edit a Password Input Field</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.passwordInputField.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.passwordInputField.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="acmeSiteApp.passwordInputField.passwordField" for="field_passwordField">Password Field</label>
            <input type="password" class="form-control" name="passwordField" id="field_passwordField"
                    ng-model="vm.passwordInputField.passwordField"
                    required ng-minlength="8" ng-maxlength="20" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" />
            <div ng-show="editForm.passwordField.$invalid">
                <p class="help-block"
                    ng-show="editForm.passwordField.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.passwordField.$error.minlength" translate="entity.validation.minlength" translate-value-min="8">
                    This field is required to be at least 8 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.passwordField.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.passwordField.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$">
                    This field needs 1 capital letter, 1 lowercase and at least 1 number.
                </p>
            </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
