
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImageUploadLabel" translate="acmeSiteApp.imageUpload.home.createOrEditLabel">Create or edit a Image Upload</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.imageUpload.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.imageUpload.id" readonly />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImageField($file, vm.imageUpload)" ngf-pattern="'image/*'">
            <label class="control-label" translate="acmeSiteApp.imageUpload.imageField" for="field_imageField">Image Field</label>
            <div>
                <img data-ng-src="{{'data:' + vm.imageUpload.imageFieldContentType + ';base64,' + vm.imageUpload.imageField}}" style="max-height: 100px;" ng-if="vm.imageUpload.imageField"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{vm.imageUpload.imageFieldContentType}}, {{byteSize(vm.imageUpload.imageField)}}</span>
                    <button ng-click="vm.imageUpload.imageField=null;vm.imageUpload.imageFieldContentType=null;"
                            ng-if="vm.imageUpload.imageField"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImageField($file, vm.imageUpload)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imageField" id="field_imageField"
                    ng-model="vm.imageUpload.imageField"
                    required minbytes="1" maxbytes="5000000" />
            <input type="hidden" class="form-control" name="imageFieldContentType" id="field_imageFieldContentType"
                    ng-model="vm.imageUpload.imageFieldContentType" />
            <div ng-show="editForm.imageField.$invalid">
                <p class="help-block"
                    ng-show="editForm.imageField.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.imageField.$error.minbytes" translate="entity.validation.minbytes" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                   ng-show="editForm.imageField.$error.maxbytes" translate="entity.validation.maxbytes" translate-value-max="5000000">
                    This field cannot be more than 5000000.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="acmeSiteApp.imageUpload.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.imageUpload.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
